.room-list{
    float: left;
    width: 10%;
    background-color: #b1cbfa;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.room-list ul
{
    padding: 0;
    margin: 0;
}
.room-list li{
    display: inline-block;
    list-style: none;
}

.room-add{
    cursor: pointer;
}