/*.message-box{*/
    /*!*position:absolute;*!*/
    /*!*top:0;*!*/
    /*!*left:0;*!*/
    /*height: 90vh;*/
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    /*background-color: #dfe2fe;*/
/*}*/

.message-box{
    height: 85vh;
    overflow-y: scroll;
    background-color: #dfe2fe;
}
.message-box li {
    list-style-type: none;
    margin-bottom: 10px;
}

.message-box ul
{
    padding: 0;
}